@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

:root {
	font-family: 'Open Sans', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: blue;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f5f5f5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type='file'] {
	margin: 4px 0 4px 0;
	width: 400px;
}

input[type='file']::file-selector-button {
	border: 2px solid #ccc;
}

::-webkit-scrollbar {
	display: none;
}

.frame_td {
	height: 30px;
	border: solid 2px #274168;
}

.frame_table {
	border-collapse: collapse;
	border: solid 2px #274168;
	margin: auto;
	text-align: center;
	padding: 10px;
}

.frame_caption {
	background-color: #274168;
	color: white;
	font-weight: 700;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

.frame_caption::marker {
	content: '';
}

.frame_details {
	margin-bottom: 1em;
	transition: all 1.5s ease-in-out;
	max-height: 10em;
	overflow: hidden;
}

.frame_details[open] {
	max-height: 500em;
}

.frame_details[close] {
	max-height: auto;
}

.analects {
	width: 100%;
	background-color: #ccc;
	height: 50px;
	border: 1px solid black;
	font-weight: 600;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.analects_text {
	margin-left: 16px;
}

.subtitle {
	color: #274168;
	margin-top: 20px;
	font-size: 28px;
	font-weight: 700;
	font-family: 'Pretendard';
}

.link {
	text-decoration: none;
	color: blue;
}

.block {
	width: 100%;
	height: fit-content;
	border: 1px solid black;
	background-color: #f2f3f7;
	font-weight: 500;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.details {
	margin-bottom: 10px;
}

.details > summary {
	width: 100%;
	height: 40px;
	border-bottom: 1.5px solid #ccc;

	line-height: 40px;
	font-weight: 800;
	color: #27416894;
	font-family: 'Pretendard';
	font-size: 30px;
	cursor: pointer;
}

.details[open] > summary {
	color: #274168;
}

.details summary::marker {
	color: #818181;
	content: '';
}
